<form method="post" action="{{ path('type_praticien_delete', {'typCode': type_praticien.typCode}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_praticien.typCode) }}">
    <button class="btn">Delete</button>
</form>
